.side-nav-disabled {
  @include mobile {
   display: none;
   transition: width .5s ease;
  }
}

.side-nav {
  background-color: $lapis-lazuli;
  border-left: 2px solid $lapis-lazuli;
  border-right: 2px solid $lapis-lazuli;

  .assn-title {
    padding: 10px;
  }

  .logo {
    text-align: center;
    img {
      display: none;

      @include tablet {
        display: inline-block;
        width: 100px;  
      }

      @include mobile {
        display: inline-block;
        width: 100px;
      }     
     }
  }

  @include mobile {
    // width: 100%;
    // max-width: none;
     display: none;
  }
}

.side-nav--bio {
  min-width: 250px;
  background: $white;
  padding-top: 70px;
  padding-bottom: 1em;

  img {
    max-width: 100px;
  }

  @include tablet {
    padding-top: 15px !important;
  }

  @include mobile {
    padding-top: 0 !important;
    width: 100%;
    max-width: none;
  }

  .fa {
    color: $cyan-azure;
  }

  h3 {
    text-align: center;

    @include mobile {
      margin-top: 0;
      padding-top: 0;
    }

    @include tablet {
      margin-top: 0;
      padding-top: 0;
    }
  }

  p {
    margin: 1em;
  }
}

.side-nav--links {
  background-color: $lapis-lazuli;

  h2, a {
    color: $white;
  }

  ul {
    padding: 0;

    li {
      list-style: none;
      text-transform: uppercase;
      color: $white;
    }
  }
}

.side-nav--bio__section {
  color: $lapis-lazuli;
}

.nav-button {
    display: inline-block;
    // border-radius: 5px;
    padding: 10px;
    width: 75%;
    
    &:hover {
      text-decoration: none;
      background-color: $white;
      color: $lapis-lazuli;
    }
}

.nav-active {
  text-decoration: none;
  background-color: $white;
  color: $lapis-lazuli !important;
}

/** sub-class assignments **/
.sub-class {
  padding-left: 25px;
  font-size: 14px;
}

/** select course **/
.styled-select {
    overflow: hidden;
    border: none;

    select {
      padding:10px;
      font-size: 14px;
      background-color: $peach;
      color: $white;
      width: 83%;
      border: 0;
      border-radius: 0;
      -webkit-appearance: none;

      @include mobile {
        font-size: 18px;
        width: 100%;
      }

      &:focus {
        outline: none;
        background-color: $peach;
        color: $white;
      }
    }
 }


/** mobile navigation **/
.enable-mobile,
.disable-mobile { 
  display: none;

  @include tablet {
    // display: block;
    cursor: pointer;
    color: $lapis-lazuli;
    transition: color .5s ease;
    font-size: 35px;
    text-align: right;
    margin-right: 10px;

    &:hover {
      color: $peach;
    }
  }

  @include mobile {
    // display: block;
    cursor: pointer;
    color: $lapis-lazuli;
    transition: color .5s ease;
    font-size: 35px;
    text-align: right;
    margin-right: 10px;

    &:hover {
      color: $peach;
    }
  }
}

.disable-mobile {
  display: none;
}








