body {
  margin: 0;
  padding: 0;
}

.top-nav {
  background: white;
  box-shadow: 5px 5px 5px $drop-shadow;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px;
  position: absolute;
  z-index: 1;
  @include flexbox;

  div {
     max-width: 1000px;
     @include flexbox;
     margin: auto;
     @include align-content(center);
    // @include justify-content(center);
  }

  img {
    max-height: 60px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
  }

  h2 {
    color: $navy;
    text-transform: uppercase;
    margin: 0;
  }
}

/** enabled only if logged in **/
.light {
  background: $green;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
