$black: #3b3b3b;
$white: #fff;
$red: #ed1b24;
$peach: #e59274;

/** grey **/
$platinum: #dce3e9; // light light grey
$flash: #f3f4ef; // light yellow grey
$ice: #fafbfc;
$drop-shadow: #ddd;

/** green **/
$green: #5ac541; // online green
$celadon-green: #257b7a; // teal/forest green

/** blue **/
$navy: #00307f; // pace blue
$light-steel: #a8d0da; // light blue grey
$grey-blue: #7897b4; //darker grey-blue, weldon
$cyan-azure: #5085c7; // bright sky blue
$lapis-lazuli: #267ba0; // rich bright blue
$dark-lapis: #216c8c;