/** grey **/
/** green **/
/** blue **/
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:500,700|Open+Sans:400,600");
body, div, p {
  font-family: 'Open Sans', sans-serif; }

p {
  font-size: 12px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400; }

hr {
  border: 0;
  height: 1px;
  width: 75%;
  background: #dce3e9; }

.create-announcement {
  padding: 2em; }
  .create-announcement h2 {
    margin: 0;
    color: #fff;
    background: #e59274; }

.button {
  display: inline-block;
  padding: 7px 25px;
  text-decoration: none;
  font-size: 12px;
  min-width: 100px;
  min-height: 25px;
  cursor: pointer;
  line-height: 25px;
  transition: 0.5s all ease;
  border-radius: 5px;
  border: 1px solid;
  color: white;
  text-transform: uppercase;
  margin: auto; }
  .button:hover {
    background-color: #fff;
    text-decoration: none; }

.button--teal {
  background-color: #267ba0;
  border-color: #267ba0; }
  .button--teal:hover {
    color: #267ba0; }

.button--green {
  background-color: #5ac541;
  border-color: #5ac541; }
  .button--green:hover {
    color: #5ac541; }

.dash--notifications {
  border: 2px solid #e59274;
  width: 100%; }

.dash--section h2 {
  background: #e59274;
  color: white;
  margin: 0; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.teal-link {
  color: #267ba0; }

.login-container {
  background: #f3f4ef; }

.login-container--main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }

.login-form {
  background: #fff;
  border: 1px solid #dce3e9;
  max-width: 50%;
  padding-bottom: .75em;
  margin: auto;
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 450px;
  box-shadow: 5px 5px 5px #ddd; }
  @media only screen and (max-width: 767px) {
    .login-form {
      max-width: 90%; } }
  .login-form h2 {
    font-family: 'Open Sans', sans-serif; }

.login-form--sign-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.login-button {
  display: inline-block;
  width: 50%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  background: #fafbfc;
  border: 1px solid #dce3e9;
  border-top: none;
  border-right: none;
  color: #7897b4; }

.login-button.active {
  background: #fff;
  color: #3b3b3b;
  border-bottom: none; }

.login-form--content {
  text-align: center; }
  .login-form--content input {
    width: 75%;
    height: 35px;
    background: #fff !important;
    color: #dce3e9;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #dce3e9;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 15px; }

.login-form--social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px; }
  .login-form--social .login-form--social__button {
    margin: 5px;
    justify-content: center;
    width: 50%;
    display: flex;
    border: 1px solid #dce3e9;
    border-radius: 5px;
    padding: 5px; }
    .login-form--social .login-form--social__button a {
      display: inline-block;
      color: #267ba0; }
    @media only screen and (max-width: 767px) {
      .login-form--social .login-form--social__button {
        width: 100%; } }
  .login-form--social img {
    max-height: 25px;
    vertical-align: middle; }
  @media only screen and (max-width: 767px) {
    .login-form--social {
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      width: 80%; } }

.main-page {
  display: flex; }

.main-content {
  padding-top: 80px;
  margin: auto; }

.portal-section h1 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 300; }
.portal-section i {
  color: #257b7a; }

.side-nav {
  height: 100%;
  background-color: #267ba0;
  border: 2px solid #267ba0 !important;
  position: absolute; }
  @media only screen and (max-width: 767px) {
    .side-nav {
      width: 100%;
      max-width: none; } }

.side-nav--bio {
  min-width: 250px;
  background: #fff;
  padding-top: 70px;
  padding-bottom: 1em; }
  .side-nav--bio .fa {
    color: #5085c7; }
  .side-nav--bio h3 {
    text-align: center; }
  .side-nav--bio p {
    margin: 1em; }
  @media only screen and (max-width: 767px) {
    .side-nav--bio {
      padding-top: 75px;
      width: 100%;
      max-width: none; } }

.side-nav--links {
  background-color: #267ba0; }
  .side-nav--links h2, .side-nav--links a {
    color: #fff; }
  .side-nav--links ul {
    padding: 0; }
    .side-nav--links ul li {
      list-style: none;
      text-transform: uppercase; }

.side-nav--bio__section {
  color: #267ba0; }

.nav-button {
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  width: 75%; }
  .nav-button:hover {
    text-decoration: none;
    background-color: #fff;
    color: #267ba0; }

/** select course **/
.styled-select {
  overflow: hidden;
  border: none; }
  .styled-select select {
    padding: 10px;
    font-size: 14px;
    background-color: #e59274;
    color: #fff;
    width: 83%;
    border: 0;
    border-radius: 5px;
    -webkit-appearance: none; }
    .styled-select select:focus {
      outline: none;
      background-color: #e59274;
      color: #fff; }

body {
  margin: 0;
  padding: 0; }

.top-nav {
  background: white;
  box-shadow: 5px 5px 5px #ddd;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px;
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  .top-nav div {
    max-width: 1000px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-align-content: center;
    -moz-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center; }
  .top-nav img {
    max-height: 60px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px; }
  .top-nav h2 {
    color: #00307f;
    text-transform: uppercase;
    margin: 0; }

/** enabled only if logged in **/
.light {
  background: #5ac541;
  width: 10px;
  height: 10px;
  border-radius: 50%; }

/*# sourceMappingURL=main.css.map */
