body {
    line-height: 1.5;
}

b { }
i { font-style:italic; }
u { text-decoration: underline; }

header{
	width:100%;  
	height:60px; 
	line-height:60px;
	border-bottom:1px solid #dddddd;
}

.hide{
    display:none;
}
/** CSS FOR HEADER.PHP **/
.nav-title {
    border-bottom: 1px solid black;
    
    #logo {
        max-width: 225px;
    }
    h1{
        text-transform:uppercase;
        text-decoration: underline;
    }
}


/** LINK STYLES **/

//style for unordered list of links
.nav-links {
    li {
        display: inline-block;  
    }
}

//basic general links
a {
    text-decoration: none;
}


.bold-text{
    font-weight: bold;
}

//navigation bar links
#head-links{
    border-radius: 5px;
    padding: 3px;
    background-color: white;
    text-decoration: none;
}


//selected nav bar link
#this-link {
    border-radius: 5px;
    padding: 3px;
}

/** HAMBURGER MENU **/
.menu, .hamburger, .cross{
    display:none;
}

.hamburger, .cross{
    background:none;
    line-height:45px;
    padding:5px 15px 0px 15px;
    border:0;
    font-size:1.4em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;   
}

.menu{
    z-index:1000000; font-weight:bold; 
    font-size:0.8em; 
    width:93%; 
    background:#fff;  position:absolute; 
    text-align:center; 
    font-size:14px;
    }

.menu ul {
    margin: 0; 
    padding: 0; 
    list-style-type: none; 
    list-style-image: none;}
.menu li {
    display: block;   
    padding:15px 0 15px 0; 
     }
.menu li:hover{
    display: block; 
    padding:15px 0 15px 0;
}
.menu ul li a { text-decoration:none;  margin: 0px; color:#fff;
}
.menu ul li a:hover { 
    text-decoration:none;
}
.menu a{text-decoration:none;
}
.menu a:hover{text-decoration:none;
}

//selected menu item
.this-menu {
    font-weight: 800;
}

//container for content boxes on home page
.class-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

//home page content boxes
.box {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    width: 350px;
    height: 220px;
    font-size: 14px;
    text-align: justify;
}

/** index page **/
.box > h2 {
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 900;
}

.box > a {
    font-style: italic;
}

/** announcement page **/
.all-updates{
    padding: 15px;
}

.current-update{
    padding: 30px;
    max-width: 900px;
    text-align: left;
}

.prev-update {
    padding: 30px;
    border: #b1b1b1 1px solid;
    max-width: 900px;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}

.update{
    margin-top: 20px;
}

.dload{
    img{
        max-height: 18px;
    }
}


//professor page
/** DROPDOWN MENU **/
.styled-select {
    overflow: hidden;
    border: none;
 }

.styled-select select {
  padding:10px;
  font-size: 18px;
  font-weight: 800px;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
 }

 .styled-select select:focus {
  outline: none;
 }

.my-classes {
    padding: 30px;
    border: #b1b1b1 1px solid;
    text-align: left;
    margin-top: 20px;
    
    h2 {
        text-decoration: underline;
    }
}

/** PROF ASSIGNMENT PAGE **/
.prev-update textarea {
    width: 100%;
    height: 20em;
    font-size: 14px;
    border: 1px solid black;
}

.prev-update input {
    font-size: 18px;
    max-width: 20em;
    min-width: 15em;
    border: 1px solid black;
}
